.content-main {
  padding: 30px 3%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f8f9fa;
}

.content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}

.content-header .content-title {
  margin-bottom: 0;
}

.card-title {
  color: #383e50!important;
  margin-bottom: 15px;
}

.card {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #eee;
  border-radius: 20px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  overflow: hidden;
  box-shadow: 0 0 16px 1px rgba(0,0,0,0.1);
  border: 1px solid #dfdfdf;
}

.card-body {
  padding: 0;
}

.icontext {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: top;
  -ms-flex-align: top;
  align-items: top;
}

.icontext span {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  line-height: 1;
}

.icontext span.text-sm {
  font-size: 12px;
  font-weight: 400;
  color: #6c757d;
  line-height: 1.2;
  margin: 5px 0;
}

.icon-sm {
  width: 48px;
  height: 48px;
  line-height: 48px!important;
  font-size: 20px;
}

.icontext .icon {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icontext .icon img{
  width: 100%;
  height: 100%;
  padding: 12px;
}

.icontext .icon .icon-container{
  background-color: var(--color);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: var(--size);
  width: 100%;
  height: 100%;
}

.bg-primary-light {
  background-color: rgba(8,129,120,0.2)!important;
}

.bg-success-light {
  background-color: rgba(0, 181, 23, 0.2) !important;
}

.bg-warning-light {
  background-color: rgba(253, 138, 20, 0.2) !important;
}

.bg-pink-light {
  background-color: #ffe2f2 !important;
}

.font-xs {
  font-size: 12px;
}

.text-muted {
  color: #adb5bd !important;
}

.bg-white{
  background-color: white !important;
}

.product-thumb{
  border: 1px solid #dfdfdf;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  margin-right: 8px;
  overflow: hidden;
}

.top-product-name{
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  max-width: 145px;
  text-overflow: ellipsis;
  font-size: 13px;
}

.new-member-list .row{
  padding: 0.67rem 15px;
}

.new-member-list .row:not(:last-child){
  border-bottom: 1px solid #ebebeb;
}