.view-order-wrapper{
  padding: 20px !important;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}

.price::before{
  content: '₹';
  color: #a5a5a5;
}

.arrow-right-up{
  border: 1px solid #9b9b9b;
  background-color: white;
  display: inline-flex;
  padding: 5px;
  border-radius: 10px;
  transition: all 0.2s;
}

.arrow-right-up:hover{
  transform: scale(1.05);
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
}

.arrow-right-up:hover img{
  transition: all 0.3s;
  transform: translate(1px, -1px);
}

.styled-card{
  border-radius: 20px;
  box-shadow: 0 0 16px 0 rgba(0,0,0,0.2);
}

address{
  max-width: 150px;
}

.title-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}
