<header class="border d-flex justify-content-between py-2 px-3">
  <a class="p-2">
    <img src="/admin/images/icons/search.svg" alt="">
  </a>
  <div class="controls">

    <a class="p-2 me-2">
      <img src="/admin/images/icons/bell.svg" alt="">
    </a>

    <div class="avatar-wrapper">
      <div class="avatar">
        <img src="/admin/images/icons/avatar_m.png" alt="">
      </div>
      <i class="las la-angle-down text-ligh"></i>
      <ul class="popup-menu">
        <li>
          <a href="/admin/logout">
            <i class="las la-sign-out-alt"></i>
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </div>

  </div>
</header>