
<link rel="stylesheet" href="/user/styles/home.css">
<link rel="stylesheet" href="/user/styles/signup.css">

<section class="email-verification forgot">
  <div class="verification-wrapper forgot">
    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/4312beba142048a48d6010ff440bfdd8/887d73ae8e0f15e93f45b08157f7407f66cc58f18ac441846bc91d82bc99aab0?apiKey=4312beba142048a48d6010ff440bfdd8&" class="verification-image" alt="Email verification illustration" />
    <form class="verification-form forgot" autocomplete="off">
      <header class="form-header mb-3">
        <h2 class="form-title">Forgot your password?</h2>
        <p class="form-subtitle">Sent OTP to your email &amp; just use it here</p>
      </header>
      <input type="email" class="forgot-email" placeholder="Enter your email">
      <div class="form-content m-0">
        <div class="otp-input-container">
          <label for="otp1" class="visually-hidden">OTP digit 1</label>
          <input type="number" id="otp1" class="otp-input" maxlength="1" aria-label="OTP digit 1" />
          <label for="otp2" class="visually-hidden">OTP digit 2</label>
          <input type="number" id="otp2" class="otp-input" maxlength="1" aria-label="OTP digit 2" />
          <label for="otp3" class="visually-hidden">OTP digit 3</label>
          <input type="number" id="otp3" class="otp-input" maxlength="1" aria-label="OTP digit 3" />
          <label for="otp4" class="visually-hidden">OTP digit 4</label>
          <input type="number" id="otp4" class="otp-input" maxlength="1" aria-label="OTP digit 4" />
          <label for="otp5" class="visually-hidden">OTP digit 5</label>
          <input type="number" id="otp5" class="otp-input" maxlength="1" aria-label="OTP digit 5" />
          <label for="otp6" class="visually-hidden">OTP digit 6</label>
          <input type="number" id="otp6" class="otp-input" maxlength="1" aria-label="OTP digit 6" />
        </div>
        <div class="otp-info">
          <div class="otp-timer-resend">
            <p class="otp-timer"><span class="otp-timer-info">OTP Expires in :</span> <span id="timerValue" style="color: #000">00 : 00 : 00</span></p>
            <button type="button" class="resend-button">Resend</button>
          </div>
        </div>
        <div class="d-flex gap-3 align-items-center">
          <button type="button" class="verify-button send-code">Send Code</button>
          <button type="button" class="verify-button verify-otp">Verify</button>
        </div>
        <p class="text-center change-email-link">
          <i class="las la-angle-left"></i>
          <a href="/login" style="font-weight: 700;">Back to login</a>
        </p>
      </div>
    </form>
  </div>
</section>

<script>

  let timer = 60;
  let timerInterval;
  
  //enable otp inputs
  enableControls()

  function startTimer() {
    timerInterval = setInterval(() => {
      timer--;
      $("#timerValue").text(`00 : 00 : ${timer < 10 ? '0'+timer : timer}`);
      if (timer <= 0) {
        clearInterval(timerInterval);
        // disable inputs
        disableControls()
      }
    }, 1000);
    $.ajax({
      type: 'GET',
      url: '/remove-timer',
      success: function(response) {}
    })
  }
  
  
  $('.verify-otp').on('click', function(){
    const otp = $('.otp-input-container > input').map((index, el) => el.value).toArray().join().replaceAll(',','')
    const email = $('.forgot-email').val()

    if(parseInt(otp)) {

      $.ajax({
        type: 'GET',
        url: `/verify-forgot-otp`,
        data: {otp},
        beforeSend: function(){
          $('.loader-bg').css('display','flex')
        },
        success: function(res) {
          $('.loader-bg').css('display','none')
          
          if(res.success){
            clearInterval(timerInterval)
            window.location.href = res.link
          }else{
            Swal.fire({
            title: res.title,
            text: res.msg,
            icon: res.icon
          });
          }
          
        }
      });
    }

  })

  function enableControls(){
    $('.resend-button').attr('disabled',true)
    $('.verify-button').attr('disabled',false)
    $('.resend-button').addClass('disabled')
    $('.verify-button').removeClass('disabled')
    $('.otp-timer-info').text('OTP Expires in : ').removeClass('text-danger')
    $('.otp-input-container > input').map((index, el) => {
      el.removeAttribute('disabled')
      $(el).val('')
    })
  }

  function disableControls(){
    $('.otp-input-container > input').map((index, el) => {
      el.setAttribute('disabled','disabled')
      $(el).val('')
    })
    $('.resend-button').attr('disabled',false)
    $('.resend-button').removeClass('disabled')
    $('.verify-button').attr('disabled',true)
    $('.verify-button').addClass('disabled')
    $('.otp-timer-info').text('OTP Expired').addClass('text-danger')
    $("#timerValue").text('')
  }

  $('.resend-button').on('click',function(){

    clearInterval(timerInterval)
    
    sendCode()

  })

  $('.send-code').on('click',function(){
    sendCode()
  })

  function sendCode(){
    $.ajax({
      type: 'POST',
      url: `/send-forgot-otp`,
      data: {email: $('.forgot-email').val()},
      beforeSend: function(){
        $('.loader-bg').css('display','flex')
      },
      success: function(res) {
        $('.loader-bg').css('display','none')
        Swal.fire({
            title: res.title,
            text: res.msg,
            icon: res.icon,
        }).then(()=>{
          if(res.status == 200){
            timer = 60;
            enableControls()
            startTimer()
          }
        });
      }
    })
  }

</script>