
<link rel="stylesheet" href="/user/styles/home.css">
<link rel="stylesheet" href="/user/styles/signup.css">

<section class="email-verification forgot">
  <div class="verification-wrapper forgot">
    <img loading="lazy" src="/admin/images/icons/reset_password.png" class="verification-image" alt="Email verification illustration" />
    <form class="verification-form forgot" autocomplete="off">
      <header class="form-header mb-3">
        <h2 class="form-title">Change your password here</h2>
        <p class="form-subtitle">You can reset account password here</p>
      </header>
      <input type="password" class="forgot-email password mb-3" placeholder="New password">
      <input type="password" class="forgot-email confirm" placeholder="Confirm password">
      <div class="form-content m-0">
        <div class="d-flex gap-3 align-items-center">
          <button type="button" class="verify-button change-pass">Change Now</button>
        </div>
        <p class="text-center change-email-link">
          <i class="las la-angle-left"></i>
          <a href="/login" style="font-weight: 700;">Back to login</a>
        </p>
      </div>
    </form>
  </div>
</section>

<script>
  
  $('.change-pass').on('click', function(){

    const password = $('.password').val()
    const confirm = $('.confirm').val()

    if(password.length && confirm.length){
      $.ajax({
        type: 'PATCH',
        url: `/update-password`,
        data: {password,confirm},
        beforeSend: function(){
          $('.loader-bg').css('display','flex')
        },
        success: function(res) {
          $('.loader-bg').css('display','none')
          Swal.fire({
            title: res.title,
            text: res.msg,
            icon: res.icon,
          }).then(()=>{
            if(res.status === 200){
              window.location.href = '/login'
            }
          });
        }
      });
    }else{
      Swal.fire({
        title: 'Error',
        text: 'Please fill all fields',
        icon: 'error',
      })
    }

  })


</script>